:root {
    --secondary_navy: #011936;
    --secondary_yellow: #ffeeb5;
    --highlight_pink: #A61C3C;
    /*font-family: 'Calistoga', serif;*/
}

/*General*/
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

section { /*REMOVE AFTER FINISH*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
}

h1 {
    font-family: 'Calistoga', serif;
    text-align: center;
    font-size: 32pt;
}

h2 {
    font-family: 'Calistoga', serif;
    font-size: 20pt;
}

button, input[type=submit] {
    outline: none;

    border-radius: 50px;
    border: 1px solid var(--highlight_pink);
    background-color: var(--highlight_pink);

    font-family: 'Calistoga', serif;
    font-size: 16pt;
    color: white;
    text-align: center;

    padding: 8px 24px;

    &:hover {
        background-color: white;
        color: var(--highlight_pink);
        border: 1px solid var(--highlight_pink);
    }
}

.more_btn {
}

.submit_btn {
    margin-top: 12px;
}

#home_header {
    background-image: url("/img/homepage_photo.jpg");
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 20px solid var(--secondary_yellow);
    min-height: 100vh;

    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    overflow: hidden;

    font-size: 15vw;
    white-space: nowrap;
}

#places_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 114px;
    margin-top: 70px;
}

.sign_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: black 1px solid;
    background-image: url("/img/sign_card.png");
    background-repeat: no-repeat;
    min-width: 400px;
    min-height: 531px;

    p{
        padding-bottom: 15px;
        text-align: center;
        color:white;
        font-weight: bold;
        font-size: 36pt;
    }
}

#places {
    padding-bottom: 80px;
}

#activities {
    background-image: url("/img/river_curve.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

#activities_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.activity_card {
    border: black 1px solid;
    width: 1230px;
    height: 325px;
    position: relative;

    background-color: var(--secondary_navy);

    .activity_photo {
        border: black 1px solid;
        border-radius: 100%;
        position: absolute;
        object-fit: cover;
        width: 20em;
        height: 20em;
        top: -45px;
        left: -45px;
    }
}

#travels {
    margin: 0;
    background-image: url("/img/travels_background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#travel_imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}

.travel_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .travel_img {
        border: black 1px solid;
        width: 404px;
        height: 605px;
        object-fit: cover;
    }
}
#quiz_imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 84px;
    padding: 20px 0 20px 0;
}

.quiz_img {
    border: black 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/*Quiz Page*/

#quiz_page {
    background-image: url("/img/monument_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 100%;
}

#quiz_title {
    padding: 40px 0;
    color: var(--secondary_navy);
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    color: var(--secondary_navy);
}

form.default {
    gap: 20px;
    background-color: white;
    padding: 20px 40px;
}

form.results {
    gap: 40px;
    h2 {
        padding-bottom: 0;
        margin: 0;
    }
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--secondary_navy);
}

label {
    appearance: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    min-width: 400px;
    border: 1px solid var(--secondary_navy);
    border-radius: 5px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* hide default radio circle */
label input[type="radio"] {
    display: none;
}

/* selected label style */
label:has(input[type="radio"]:checked) {
    background-color: var(--secondary_navy);
    color: white;
}

#resultImage {
    object-fit: cover;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    border: 20px solid var(--secondary_yellow);
}

h2#result_title {
    color: var(--secondary_navy);
}

footer {
    min-height: 230px;
}




