:root {
    --primary_navy: #011936;
    --primary_yellow: #ffeeb5;
    --secondary_skyBlue: #A1CDEE;
    --highlight_pink: #A61C3C;
    font-family: "Nunito", sans-serif;
    color: var(--primary_navy);
}

/*General*/
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;

    min-height: 100vh;
}

h1 {
    font-family: 'Calistoga', serif;
    text-align: center;
    font-size: 32pt;
}

h2 {
    font-family: 'Calistoga', serif;
    font-size: 20pt;
}

h3 {
    font-family: 'Calistoga', serif;
    font-size: 16pt;
}

p {
    font-size: 16pt;
    line-height: 1.6;
}

button, input[type=submit] {
    outline: none;

    border-radius: 50px;
    border: 1px solid var(--highlight_pink);
    background-color: var(--highlight_pink);

    font-family: 'Calistoga', serif;
    font-size: 16pt;
    color: white;
    text-align: center;

    padding: 8px 24px;

    &:hover {
        background-color: rgba(var(--highlight_pink), 0);
        color: var(--highlight_pink);
        border: 1px solid var(--highlight_pink);
    }
}

.more_btn {
    margin: 20px 0;
}

.submit_btn {
    margin-top: 12px;
}

.postcard_header {
    background-image: url("/img/homepage_photo.jpg");
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: left;
    align-items: center;

    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;

    border: 20px solid var(--primary_yellow);
    color: var(--primary_yellow);
    font-family: 'Calistoga', serif;
    font-size: 29vw;
}

#favorites_header {
    font-size: 18.3vw;
    min-height: 40vh;
}

/*Overview Section*/

#overview {
    height: auto;
}

#overview_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 114px;
    margin: 70px 0;
}

.sign_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    background-size: cover;

    min-width: 350px;
    min-height: 464px;


    h2 {
        color: white;
        padding-bottom: 25px;
        text-align: center;
    }

    &:hover {
        transform: scale(1.1);
        -webkit-transition: transform 0.5s ease-in-out;
    }
}

#favorite_sign {
    background-image: url("/img/favorite_sign.png");
}

#activity_sign {
    background-image: url("/img/activity_sign.png");
}

#travel_sign {
    background-image: url("/img/travel_sign.png");
}

/*Activities Section*/

#activities {
    background-image: url("/img/backgrounds/river_curve.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: local;
}

#activities_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.activity_card {
    display: flex;
    gap: 52px;

    .activity_blurb {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        text-wrap: wrap;
    }

    .activity_photo {
        border-radius: 100%;

        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}

/*Travels Section*/

#travels {
    background-image: url("/img/backgrounds/travels_background.png");
    background-repeat: no-repeat;
    background-size: contain;

    p {
        max-width: 75%;
        text-align: center;
        margin-bottom: 64px;
    }
}

#travel_imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
}

.travel_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .travel_img {
        width: 350px;
        height: 464px;
        object-fit: cover;
    }
}

/*Quiz Section*/

#quiz_section {
    background-image: url("/img/backgrounds/monument_background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;

    min-height: 100vh;

    p {
        max-width: 75%;
        text-align: center;
        margin-bottom: 20px;
    }
}

#quiz_imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
    margin-bottom: 10%;
}

.quiz_img {
    border: var(--primary_yellow) 5px solid;
    object-fit: cover;

    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/*Quiz Page*/

#quiz_page {
    background-image: url("/img/backgrounds/monument_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 100%;
}

#quiz_title {
    padding: 40px 0;
    color: var(--primary_navy);
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    color: var(--primary_navy);
}

form.default {
    gap: 20px;
    background-color: white;
    padding: 20px 40px;
}

form.results {
    gap: 40px;
    h2 {
        padding-bottom: 0;
        margin: 0;
    }
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--primary_navy);
}

label {
    appearance: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    min-width: 400px;
    border: 1px solid var(--primary_navy);
    border-radius: 5px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* hide default radio circle */
label input[type="radio"] {
    display: none;
}

/* selected label style */
label:has(input[type="radio"]:checked) {
    background-color: var(--primary_navy);
    color: white;
}

#resultImage {
    object-fit: cover;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    border: 20px solid var(--primary_yellow);
}

h2#result_title {
    color: var(--primary_navy);
}

/*FAVORTIES.HTML*/

video {
    width: 880px;
    height: auto;

    border: 20px solid var(--primary_yellow);
}

.top3 {
    padding: 0 0 0 0;
}

.top3_container {
    display: flex;
    flex-direction: row;
    gap: 52px;

    img {
        width: 400px;
        height: 470px;
        object-fit: cover;
    }
}

.top_info {
    text-wrap: wrap;
    padding: 52px;

    p {
        max-width: 900px;
    }

}

#rank1, #rank3 {
    background-color: var(--primary_navy);
    color: white;

}

#rank2 {
    background-color: var(--secondary_skyBlue);
}

.yellow_divider {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary_yellow);
    height: 25vh;
}

.small_highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    min-height: 50vh;
    img{
        border-radius: 100%;

        object-fit: cover;
        min-width: 400px;
        width: 400px;
        height: 400px;
    }
}

/*Food Rating Seconds*/

.food_ratings_container {
    display: flex;
    gap: 52px;

    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
    scrollbar-width: none;
}

.food_ratings_card {
    display: flex;
    height: 500px;
    gap: 20px;


    background-color: var(--secondary_skyBlue);

    img{
        width: 350px;
        object-fit: cover;
    }

    .foodRate_info {
        display: flex;
        flex-direction: column;
        min-width: 400px;
        max-height: 500px;

        text-wrap: wrap;
        padding-bottom: 24px;
        padding-right: 20px;
    }
}

/*ACTIVITIES.HTML*/

#activities_header {
    font-size: 18vw;
    min-height: 40vh;
}

.summary_list_container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

ul {
    list-style: none;

    li {
        color: var(--primary_navy);
        font-size: 24pt;
        line-height: 1.6;
    }
}

/*TRAVELS.HTML*/

#travels_header {
    font-size: 22.5vw;
    min-height: 40vh;
}


